ion-content{
    --background: #f5f4fe;
}
ion-card{
    background-color: #24545D;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow effect */
}

ion-button.custom{
    --background: #866A80;
}