<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/inicio"
        text="Inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <h1 class="titulo">Eventos Inscritos</h1>
  <ion-searchbar animated="true" placeholder="Buscador" class="custom"></ion-searchbar>
  <ion-card style="padding-top: 7%;">
    <img 
      alt="Silhouette of mountains" 
      src="assets/evento1.png" 
      style="display: block; margin: 0 auto; width: 100%; height: 200px; object-fit: cover;" 
    />
    <ion-card-header>
      <ion-card-title>Nombre del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha: 27/11/2024</p>
    </ion-card-content>
    <ion-button fill="solid">Detalles</ion-button>
  </ion-card>
  

  <ion-card style="padding-top: 7%;">
    <img 
      alt="Silhouette of mountains" 
      src="assets/evento3.png" 
      style="display: block; margin: 0 auto; width: 100%; height: 200px; object-fit: cover;" 
    />
    <ion-card-header>
      <ion-card-title>Nombre del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha: 27/11/2024</p>
    </ion-card-content>
    <ion-button fill="solid">Detalles</ion-button>
  </ion-card>
  

  <ion-card style="padding-top: 7%;">
    <img 
      alt="Silhouette of mountains" 
      src="assets/evento2.png" 
      style="display: block; margin: 0 auto; width: 100%; height: 200px; object-fit: cover;" 
    />
    <ion-card-header>
      <ion-card-title>Nombre del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha: 27/11/2024</p>
    </ion-card-content>
    <ion-button fill="solid">Detalles</ion-button>
  </ion-card>
  


</ion-content>